* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000000;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.desktop {
  margin: 0 auto;
  position: relative;
  width: 1440px;
  height: 5532px;

  position: relative;
}
.header {
  position: absolute;
  width: 1440px;
  height: 90px;
  left: 0px;
  top: 0px;
}
.logo {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 20px;
  top: 20px;
}
.logo:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
  cursor: pointer;
}
.nav {
  position: absolute;
  height: 50px;
  left: 55.03%;
  right: 6.25%;
  top: 20px;
}

.nav > li {
  display: inline-block;
}

.nav > li > a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 50px;
  text-decoration: none;
  color: #ffffff;
  text-transform: capitalize;
  margin-right: 27px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav > li > a:hover {
  color: #bdae82;
}

.navRu {
  position: absolute;
  height: 50px;
  left: 50.03%;
  right: 6.25%;
  top: 20px;
}
.textDecor {
  text-decoration: none;
}
.headers {
  position: relative;
  width: fit-content;
  font-family: "Merriweather", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  color: #bdae82;
  background-color: #000000;
  margin: 0 auto;
  padding: 0 20px;
}
.switch-lng {
  position: absolute;
  height: 50px;
  left: 1280px;
  top: 20px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
}
.logoRu {
  left: 90px;
  top: 0px;
}
.switch-lng > span:hover {
  cursor: pointer;
  color: #bdae82;
}
.hero {
  width: 1440px;
  height: 910px;
  background-image: url(./assets/img/header-bg.jpg);
  background-repeat: no-repeat;
  padding-top: 250px;
}
.hero-div {
  height: 330px;
  width: 500px;
  margin-left: 80px;
}
.hero-title {
  height: 120px;
  font-family: "Merriweather", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 120px;
  color: #ffffff;
}
.hero-text {
  margin-top: 10px;
  height: 120px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  color: #ffffff;
}
.hero-textRu {
  margin-top: 50px;
}
.btn {
  margin-top: 25px;
  width: 220px;
  height: 55px;
  background-color: #bdae82;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  border: 0px;
}
.btn:hover {
  cursor: pointer;
  color: #ffffff;
}
.skills {
  padding-top: 100px;
  padding-bottom: 8px;
}
.skills-title {
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  color: #ffffff;
  width: 48.5%;
  margin: 0 auto 60px;
  background-image: linear-gradient(
    to top,
    #000 39px,
    #bdae82 39px,
    #bdae82 41px,
    #000 41px
  );
}
.h2 {
  position: relative;
  width: fit-content;
  font-family: "Merriweather", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  color: #bdae82;
  background-color: #000000;
  margin: 0 auto;
  padding: 0 20px;
}

.skills-items {
  width: 1400px;
  height: 242px;
  margin: 0 auto;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.skills-item {
  width: 320px;
  height: 240px;
  text-align: center;
}

.h3 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
  margin-top: 46px;
  margin-bottom: 21px;
}
.p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  padding: 0 10px;
}

.portfolio {
  padding-top: 92px;
}
.portfolio-btns {
  gap: 5px;
  justify-content: center;
  width: 895px;
  margin: 0 auto;
  padding-bottom: 60px;
}
.button {
  background: #000000;
  border: 2px solid #bdae82;
  box-sizing: border-box;
  border-radius: 0px;
  width: 220px;
  height: 55px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color: #bdae82;
}
.button2 {
  background: #fff;
  border: 2px solid #bdae82;
  box-sizing: border-box;
  border-radius: 0px;
  width: 220px;
  height: 55px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color: #bdae82;
}
.click-btn {
  background: #bdae82;
  border: 2px solid #bdae82;
  box-sizing: border-box;
  border-radius: 0px;
  width: 220px;
  height: 55px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color: #000000;
}

.portfolio-btns > button:hover {
  background: #bdae82;
  color: #000000;
  cursor: pointer;
}
.portfolio-items {
  gap: 25px;
  height: 1145px;
  width: 1400px;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.portfolio-img {
  height: 560px;
  width: 450px;
}
.video {
  position: relative;
  padding-top: 100px;
  width: 1440px;
  height: 945px;
  margin-top: 0 auto;
}
.video-items {
  width: 1400px;
  height: 705px;
  margin-left: 20px;
  top: 240px;
  background: url("./assets/img/video-player.jpg");
}
.video-btn {
  position: absolute;
  width: 129.86px;
  height: 130px;
  left: 656px;
  top: 528px;
}
.video-btn:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
  cursor: pointer;
}
.price {
  margin-top: 100px;
}
.price-items {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  width: 1400px;
  height: 505px;
  margin: 0 auto;
}
.price-item {
  text-align: center;
  border: 3px solid #bdae82;
  box-sizing: border-box;
  border-radius: 0px;
  width: 450px;
  height: 505px;
}
.pPrice {
  margin-top: 20px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}

.h3Price {
  margin-top: 43px;
  font-family: "Merriweather", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 56px;
  text-align: center;
  color: #ffffff;
}
.price-item > h4 {
  margin-top: 20px;
  font-family: "Merriweather", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 48px;
  text-align: center;
  color: #bdae82;
}
.price-item > button {
  margin-top: 40px;
}
.contacts {
  margin-top: 100px;
  width: 1440px;
  height: 750px;
  background-repeat: no-repeat;
  background-image: url(./assets/img/contacts.jpg);
  background-size: auto 700px;
  background-color: black;
  background-position: center center;
}
.contacts > div {
  width: 450px;
  height: 445px;
  padding-top: 60px;
  margin-left: 970px;
  position: relative;
}
.contacts > div > h3 {
  font-family: "Merriweather", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  margin-bottom: 40px;
  color: #bdae82;
}
.contacts > div > p > input {
  padding-top: 5px;
  width: 450px;
  height: 50px;
  margin-bottom: 20px;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #bdae82;
  box-sizing: border-box;
  border-radius: 0px;
}
.contacts > div > p > input::placeholder {
  padding-left: 20px;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  color: #bdae82;
}
.contacts > div > p > textarea {
  resize: none;
  width: 450px;
  height: 100px;
  margin-bottom: 20px;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #bdae82;
  box-sizing: border-box;
  border-radius: 0px;
}
.contacts > div > p > textarea::placeholder {
  padding-left: 20px;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  color: #bdae82;
}
.contacts > div > p > button {
  margin-top: 5px;
}
footer {
  width: 1440px;
  height: 150px;
}
footer > div {
  margin: 0 auto;
  width: 1440px;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 50px;
  color: #ffffff;
}
footer > div > span {
  margin-left: 15px;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 50px;
  color: #ffffff;
}
.rss {
  padding-left: 410px;
  padding-right: 389px;
}
.soc {
  position: relative;
  top: 9px;
  width: 32px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s;
}
.invisible {
  display: none;
}
.soc:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
  cursor: pointer;
}
footer > div > p {
  text-align: center;
  font-family: "Inter", serif;
  height: 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 50px;
  color: #ffffff;
}
.hamburger {
  display: none;
}
.light {
  background-color: #fff;
  color: #000000;
}
.gradient {
  background-image: linear-gradient(
    to top,
    #fff 39px,
    #bdae82 39px,
    #bdae82 41px,
    #fff 41px
  );
}
.btnRu {
  color: black;
}
.menu_bg {
  display: none;
}
.aFooter {
  text-decoration: none;
  color: white;
}

@media (max-width: 1440px) {
  .skills-items {
    justify-content: space-around;
  }
}
@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .desktop {
    margin: 0 auto;
    position: relative;
    max-width: 768px;
    height: 8512px;
    background: #000000;
  }
  .header {
    position: absolute;

    max-width: 768px;
    height: 90px;
    top: 0px;
    left: calc(50% - 768px / 2);
    z-index: 9998;
  }
  .nav {
    display: none;
  }

  .logo {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 60px;
    top: 20px;
  }
  .logoRu {
    right: 50px;
    left: 50px;
    top: 0px;
  }
  .switch-lng {
    position: absolute;
    width: 56px;
    height: 50px;
    left: 70.86%;
    right: 14.84%;
    top: 20px;
    font-family: "Inter", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 50px;
    /* identical to box height, or 250% */
    text-align: center;

    color: #ffffff;
  }
  .hamburger {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 654px;
    top: 20px;
    background-image: url(./assets/svg/hamburger_unvisited.png);
    background-repeat: no-repeat;
  }
  .menu_bg {
    display: none;
    position: fixed;
    width: 620px;
    height: 100%;
    right: 0;
    top: 0px;
    display: block;
    background: #000000;
    z-index: 9999;
    transform: translateX(100%);
    transition: 300ms;
  }
  .close {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 506px;
    top: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-image: url(./assets/svg/close.png);
    background-repeat: no-repeat;
    z-index: 9999;
  }
  .invisible {
    display: block;
    transform: translateX(0%);
  }
  .close:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg)
      brightness(92%) contrast(87%);
    cursor: pointer;
  }
  .frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 149.45px;
    height: 426.75px;
    left: 275px;
    top: 134px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 34.8235px;
    line-height: 73px;
    color: #ffffff;
    text-decoration: none;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 16px 0px;
  }
  .aFrame {
    text-decoration: none;
    color: #fff;
  }
  .liFrame {
    list-style-type: none;
  }
  .hamburger:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg)
      brightness(92%) contrast(87%);
    cursor: pointer;
  }
  .en {
    position: absolute;
    width: 25px;
    height: 50px;
    left: calc(50% - 25px / 2 - 61.5px);
    top: 0px;
  }
  .ru {
    position: absolute;
    width: 22px;
    height: 50px;
    left: calc(50% - 22px / 2 - 3px);
    top: 0px;
  }
  .simbol {
    position: absolute;
    width: 8px;
    height: 50px;
    left: calc(50% - 8px / 2 - 36px);
    top: 0px;
  }
  .hero {
    position: absolute;
    width: 768px;
    height: 590px;
    left: 0px;
    top: 0px;
    background-image: url(./assets/img/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: 768px;
  }

  .hero-title {
    position: absolute;
    width: 165px;
    height: 64px;
    left: 60px;
    top: 168px;

    font-family: "Merriweather", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 64px;
    /* identical to box height, or 200% */

    color: #ffffff;
  }
  .hero-text {
    position: absolute;
    width: 390px;
    height: 72px;
    left: 60px;
    top: 252px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;

    color: #ffffff;
  }
  .heroBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7px 73px;

    position: absolute;
    width: 219px;
    height: 54px;
    left: 60px;
    top: 384px;
  }

  .skills {
    position: absolute;
    width: 768px;
    height: 729px;
    left: 0px;
    top: 590px;
  }

  .skills-title {
    position: absolute;
    height: 80px;
    left: 26.3%;
    right: 26.3%;
    top: 80px;
  }

  .skills-items {
    position: absolute;
    width: 728px;
    height: 520px;
    left: 20px;
    top: 196px;
  }

  .skills-item {
    width: 320px;
    height: 240px;
    text-align: center;
  }

  .h3 {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
    margin-top: 46px;
    margin-bottom: 21px;
  }
  .p {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    color: #ffffff;
    padding: 0 10px;
  }

  .portfolio {
    position: absolute;
    width: 768px;
    height: 3870px;
    left: 0px;
    top: 1319px;
  }
  .portfolio-btns {
    position: absolute;
    width: 445px;
    height: 115px;
    left: 162px;
    top: 210px;
  }
  .button {
    background: #000000;
    border: 2px solid #bdae82;
    box-sizing: border-box;
    border-radius: 0px;
    width: 220px;
    height: 55px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #bdae82;
  }

  .portfolio-btns > button:hover {
    background: #bdae82;
    color: #000000;
    cursor: pointer;
  }
  .portfolio-items {
    position: absolute;
    width: 450px;
    height: 3485px;
    left: 159px;
    top: 385px;
  }
  .portfolio-img {
    height: 560px;
    width: 450px;
  }
  .video {
    position: absolute;
    width: 768px;
    height: 628px;
    left: 0px;
    top: 5189px;
  }
  .video-items {
    position: absolute;
    width: 768px;
    height: 418px;
    left: -20px;
    top: 210px;
    background: url("./assets/img/video-player.jpg");
  }
  .video-btn {
    position: absolute;
    width: 75px;
    height: 75px;
    left: 346px;
    top: 171px;
  }

  .price {
    position: absolute;
    width: 768px;
    height: 1905px;
    left: 0px;
    top: 5817px;
  }
  .price-items {
    position: absolute;
    width: 420px;
    height: 505px;
    left: calc(50% - 420px / 2);
    top: calc(50% - 505px / 2 - 490px);
  }
  .price-item {
    width: 420px;
    height: 505px;
    left: calc(50% - 420px / 2);
    top: calc(50% - 505px / 2 + 65px);
  }
  .pPrice {
    margin-top: 20px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    color: #ffffff;
  }

  .h3Price {
    margin-top: 43px;
    font-family: "Merriweather", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 56px;
    text-align: center;
    color: #ffffff;
  }
  .price-item > h4 {
    margin-top: 20px;
    font-family: "Merriweather", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 48px;
    text-align: center;
    color: #bdae82;
  }
  .price-item > button {
    margin-top: 40px;
  }
  .contacts {
    position: absolute;
    width: 768px;
    height: 650px;
    left: 0px;
    top: 7722px;

    background: url(./assets/img/contacts.jpg);
  }
  .contacts > div {
    padding-top: 0px;
    margin-left: 0px;
    position: absolute;
    width: 450px;
    height: 429px;
    left: 159px;
    top: 60px;
  }
  .contacts > div > h3 {
    font-family: "Merriweather", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    margin-bottom: 40px;
    color: #bdae82;
  }
  .contacts > div > p > input {
    padding-top: 5px;
    width: 450px;
    height: 50px;
    margin-bottom: 20px;
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid #bdae82;
    box-sizing: border-box;
    border-radius: 0px;
  }
  .contacts > div > p > input::placeholder {
    padding-left: 20px;
    font-family: "Inter", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: #bdae82;
  }
  .contacts > div > p > textarea {
    resize: none;
    width: 450px;
    height: 100px;
    margin-bottom: 20px;
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid #bdae82;
    box-sizing: border-box;
    border-radius: 0px;
  }
  .contacts > div > p > textarea::placeholder {
    padding-left: 20px;
    font-family: "Inter", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: #bdae82;
  }
  .contacts > div > p > button {
    margin-top: 5px;
  }
  footer {
    position: absolute;
    width: 768px;
    height: 190px;
    left: 0px;
    top: 8292px;
    margin-top: 118px;
  }
  .github {
    position: absolute;
    width: 62px;
    height: 45px;
    left: 408px;
    top: 28px;
    color: #ffffff;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
  }
  .aFooter {
    text-decoration: none;
  }
  .c {
    position: absolute;
    width: 19px;
    height: 24px;
    left: 297px;
    top: 28px;
    color: #ffffff;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
  }
  .year {
    position: absolute;
    width: 52px;
    height: 24px;
    left: 336px;
    top: 28px;
    color: #ffffff;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
  }
  .rolling {
    position: absolute;
    width: 210px;
    height: 24px;
    left: 279px;
    top: 68px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    padding-left: 0px;
    padding-right: 0px;
    text-decoration: none;
  }
  .soc {
    position: relative;
    padding-left: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.3s;
    width: 188px;
    height: 50px;
    left: 270px;
    top: 112px;
    text-decoration: none;
  }
  .soc:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg)
      brightness(92%) contrast(87%);
    cursor: pointer;
  }
  .footer-data > p {
    text-align: center;
    font-family: "Inter", serif;
    height: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
    color: #ffffff;
  }
  .light {
    background-color: #fff;
    color: #000000;
  }
  .gradient {
    background-image: linear-gradient(
      to top,
      #fff 39px,
      #bdae82 39px,
      #bdae82 41px,
      #fff 41px
    );
  }
  .btnRu {
    color: black;
  }
  .button2 {
    background: #fff;
    border: 2px solid #bdae82;
    box-sizing: border-box;
    border-radius: 0px;
    width: 220px;
    height: 55px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #bdae82;
  }
  .click-btn {
    background: #bdae82;
    border: 2px solid #bdae82;
    box-sizing: border-box;
    border-radius: 0px;
    width: 220px;
    height: 55px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #000000;
  }
  footer > div {
    margin: 0 auto;
    max-width: 768px;
    font-family: "Inter", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
    color: #ffffff;
  }
  .aFooter {
    text-decoration: none;
    color: white;
  }
}
